.Halamansurat{
  background-color: #222831;
 
}
 
 
 
 
 .Card{
 
  @media screen and (max-width:680px){

    #maincontent{
      width: auto;
      float: none;
    }
    #sidebar{
      width: auto;
      float: none;
    }
  }
 }

  

.Cardsurat {
  transition: transform .10s; /* Animation */
  width: 100pxpx;
  margin-top: 20px;
 
}

.Cardsurat:hover {
  /* transform: scale(0.9);  */
  padding: 10px;/* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  box-shadow: 2px 2px 2px 2px white;
}



.Header{

  max-width: 100%;
  min-width: auto;
  width: 200px;
  margin-top: -10px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  
  
}

.Booksmark{

  

  width: 20px;
  max-width: auto;
  margin-left: 1090px;
  margin-left: auto ;
  
}

.NamaSurat{
 text-align: right;
  margin-top: 50px;
}

.NomorSurat{
  font-size: small;
  text-align: left;
}

 .JumlahAyat{
  text-align: left;
  font-size: small;
 }





 
 .Container1{
  
  
  @media screen and (max-width:680px){

    #maincontent{
      width: auto;
      float: none;
    }
    #sidebar{
      width: auto;
      float: none;
    }
  }
 }

 .Container{
  margin-bottom: 200px;
  margin-top: 100px;
 }


 


