

.Card{
  margin-top: 10px;
  max-width: auto;
  min-width: auto;
}

.Header{
  max-width: 100%;
  min-width: auto;
  width: 200px;
  margin-top: 0px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  
  
}

.Booksmark{
  width: 20px;
  max-width: auto;
  margin-left: 1090px;
  margin-left: auto ;
  
}

.NamaSurat{
 text-align: right;
  margin-top: 50px;
}

.NomorSurat{
  font-size: small;
  text-align: left;
  
}

 .JumlahAyat{
  text-align: left;
  font-size: small;
 
   
   
 }

 .Card{
  margin-top: 5px;
  margin-bottom: 3px;
  @media screen and (max-width:680px){

    #maincontent{
      width: auto;
      float: none;
    }
    #sidebar{
      width: auto;
      float: none;
    }
  }
 }

 
 .Container{
  @media screen and (max-width:680px){

    #maincontent{
      width: auto;
      float: none;
    }
    #sidebar{
      width: auto;
      float: none;
    }
  }
 }



